@media (max-width:576px) {


    /* header section */
    nav {
        flex-direction: column;
    }

    ul li:last-child {
        display: inline-block;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin-bottom: 20px;
    }

    .logo {

        width: 70%;

    }

    .glogo {
        text-align: right;
        margin-bottom: 20px;
    }

    .glogo img {

        width: 85%;
    }

    .logo h1 {
        margin-top: -24px;
        font-size: 35px;



    }



    /* banner section */
    .banner-content {
        flex-direction: column-reverse;
    }

    .banner {
        background-image: none;
        text-align: center;
    }

    .banner-text {

        padding: 20px 48px;
        margin-top: 20px;
        background-image: url(./images/Group14.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-text h2 {

        font-size: 20px;

    }

    .banner-text h1 {
        font-size: 50px;

    }

    .banner-text p {

        font-size: 14px;

    }


    /* gamer section */
    .gamer-content {
        flex-direction: column-reverse;

    }

    .gamer-text {
        text-align: center;
    }

    .gamer-text h1 {
        font-size: 25px;
    }

    /* funny video section */
    .video-content {
        flex-direction: column;
    }

    .video-card {
        margin-bottom: 40px
    }

    /* play instantly  */
    .play-content {
        flex-direction: column;
    }

    .play-text {

        text-align: center;
        margin-bottom: 20px;
    }

    .play-img {
        flex-basis: 45%;
    }

    .main-img {
        text-align: right;
    }

    .main-img img {
        width: 80%;
    }

    .second-img {}

    .second-img img {
        width: 30%;
        margin-top: -90px;
        margin-left: 0px;
    }

}