@media (max-width:576px) {


    /* header section */
    nav {
        flex-direction: column;
    }

    ul li:last-child {
        display: inline-block;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        margin-bottom: 20px;
    }

    .logo {

        width: 70%;

    }

    .glogo {
        text-align: right;
        margin-bottom: 20px;
    }

    .glogo img {

        width: 85%;
    }

    .logo h1 {
        margin-top: -24px;
        font-size: 35px;



    }



    /* banner section */
    .banner-content {
        flex-direction: column-reverse;
    }

    .banner {
        background-image: none;
        text-align: center;
    }

    .banner-text {

        padding: 20px 48px;
        margin-top: 20px;
        background-image: url(./images/Group14.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .banner-text h2 {

        font-size: 20px;

    }

    .banner-text h1 {
        font-size: 50px;

    }

    .banner-text p {

        font-size: 14px;

    }

    .banner-text button {
        margin-bottom: 10px;
    }


    /* gamer section */
    .gamer-content {
        flex-direction: column-reverse;

    }

    .gamer-text {
        text-align: center;
    }

    .gamer-text h1 {
        font-size: 25px;
    }

    .gamer-text p {

        font-size: 14px;

    }

    /* funny video section */
    .video-content {
        flex-direction: column;
    }

    .title h1 {

        font-size: 25px;

    }

    .title p {

        font-size: 14px;
    }


    .video-card {
        margin-bottom: 15%;
    }

    /* play instantly  */
    .play-content {
        flex-direction: column;
    }

    .play-text {

        text-align: center;
        margin-bottom: 20px;
    }

    .play-img {
        flex-basis: 45%;
    }

    .play-text h1 {

        font-size: 25px;

    }

    .play-text p {

        font-size: 14px;

    }

    .main-img {
        text-align: right;
    }

    .main-img img {
        width: 80%;
    }

    .second-img {}

    .second-img img {
        width: 30%;
        margin-top: -90px;
        margin-left: 0px;
    }

    .samll-game-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .small-game {
        margin-top: 75px;
        margin-bottom: 40px;
    }


    .small-game-card img {
        width: 25px;
        display: flex;

    }


    .small-game-card p {
        margin-left: 4px;
        font-size: 9px;
    }


    .small-game-card {
        padding: 4px 0px;
        border: 1px solid white;
    }


}

@media (max-width: 320px) {

    .small-game-card img {
        width: 20px;
        display: flex;

    }

    .small-game-card p {
        margin-left: 2px;
        font-size: 7px;
    }

    footer p {

        font-size: 11px;
    }

    .condition ul li a {

        font-size: 13px;
    }

    .footer-link ul li a {
        font-size: 15px;

    }

    .samll-game-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .small-game {
        margin-top: 75px;
        margin-bottom: 40px;
    }
}

@media (min-width: 576px) and (max-width: 770px) {
    .container {
        width: 70%;
        margin: auto;
    }

    /* header section */
    ul li a {
        font-size: 12px;
    }

    ul li:last-child {

        padding: 8px 10px 8px 2px;

    }

    .logo {
        display: flex;
        align-items: center;
        width: 26%;
    }

    .logo h1 {
        font-size: 30px;

    }

    /* banner section */
    .banner-text h2 {
        font-size: 20px;

    }

    .banner-text h1 {
        font-size: 45px;

    }

    .banner-text p {

        font-size: 11px;

    }

    .btn8 {
        padding: 5px 16px;
        font-size: 11px;
    }

    .btn9 {
        padding: 5px 16px;
        font-size: 11px;
    }

    /* game section */
    .gamer-text h1 {
        font-size: 30px;

    }

    .gamer-text p {
        font-size: 11px;

    }

    .gamer-text a {
        font-size: 11px;
        padding: 5px 14px;
    }

    .gamer-text h3 {
        font-size: 15px;
    }

    .gamer-text h3 span {

        font-size: 13px;
    }


    /* video section */
    .title h1 {

        font-size: 30px;

    }

    .title p {
        font-size: 13px;
    }

    .video-card p {

        font-size: 11px;

    }

    /* play section */
    .play-text h1 {
        font-size: 30px;

    }

    .play-text p {

        font-size: 12px;

    }

    .second-img img {

        width: 12%;
        margin-top: -87px;
        margin-left: -47px;
    }



    .samll-game-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .small-game {
        margin-top: 75px;
        margin-bottom: 40px;
    }


    /* footer section  */
    .glogo1 img {
        width: 67%;
    }

    .logo1 h1 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }

    .footer-link ul li a {
        font-size: 13px;
    }

    .social .fa-brands {
        font-size: 15px;

    }

    .condition ul li a {
        font-size: 11px;
    }

    footer p {
        font-size: 11px;
    }
}