* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

/* header section */
header {
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;


}

.glogo {}

.glogo img {
    width: 100%;

}

.logo h1 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.logo h1 span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {}

ul {
    display: flex;
    align-items: center;
}

ul li {}

ul li:last-child {
    margin-left: 20px;
    padding: 10px 32px 10px 3px;
    display: flex;
    border-radius: 4px;
    background: rgba(11, 2, 35, 0.10);
}

ul li a {
    color: #3C354F;
    margin-left: 25px;
}

.follow .fa-brands {
    margin-left: 8px;
}

/* banner section */
.banner {
    background-image: url(./images/Group14.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {

    flex-basis: 45%;
}

.banner-text h2 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-text h1 {
    font-size: 74px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}

.banner-img {
    flex-basis: 45%;
}

.banner-img img {
    width: 100%;
}

/* gamer section */
.gamer {
    margin-bottom: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 0;

}

.gamer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-img {
    flex-basis: 45%;
}

.gamer-img img {
    width: 100%;
}

.gamer-text {
    text-align: right;
    flex-basis: 45%;
}

.gamer-text h1 {

    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-text p {
    color: #534C64;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 0;
}

.gamer-text a {
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 20px;
}

.gamer-text .gamer-btn {
    padding: 21px 0;
}

.gamer-text h3 {
    font-size: 19px;
}

.gamer-text h3 span {
    display: block;
    font-weight: 400;
    font-size: 15px;
}

/* funny video section */
.video {
    margin-bottom: 100px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h1 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
}

.title h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title p {
    color: #534C64;
    text-align: center;
    font-size: 16px;
}

.video-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-card {
    flex-basis: 22%;
}

.video-card img {
    width: 100%;
}

.video-card p {
    color: #534C64;
    font-size: 13px;
    margin-top: 5px;
}


/* play instantly section */
.play {
    margin-bottom: 100px;
}

.play-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-text {
    flex-basis: 40%;
    text-align: right;
}

.play-text h1 {
    margin-bottom: 11px;
    font-size: 44px;
    font-weight: 700;
}

.play-text h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-text p {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
}

.play-img {
    flex-basis: 45%;
}



.main-img img {
    width: 95%;
    position: relative;
}

.second-img {}

.second-img img {
    position: absolute;
    width: 14%;
    margin-top: -100px;
    margin-left: -75px;
}